.display-none{
  display: none;
}

.current-tab{
    background-color: #ffffff;
    color: #be5f27;
    padding: 0 7% 0 7%;
}

#menu-body{
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.5em;
    line-height: 1.6em;
    padding: 2em 3em 3em 3em;
    background-color: #e0d7c5;
    color: #303030;
    margin: 0 6em;
}

#menu-header-selector{
    margin: auto;
    display: flex;
    justify-content: center;
}

.menu-intro{
    padding: 10% 0 0 0;
}

.menu-item {
    padding: 2% 0 0 0;
}

.menu-item h2{
  color: #8e5942;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f2f2f2;
    margin: 1em 0;
    padding: 0;
}

.bold{
    font-weight: bold;
}

#cake-header{
    margin-right: 45px;
}

#custom-order-form{
    display: inline-flex;
    flex-direction: column;
}

/********************************************************************************/
/* On devices smaller than 600px */
@media(max-width: 600px) and (min-width: 400px){

    #menu-body{
        font-family: 'Lato Regular', sans-serif;
        font-size: 2em;
        line-height: 1.6em;
        padding: 3em;
        background-color: #e0d7c5;
        color: #303030;
        margin: 8.5% 0 0 0;
    }

}
