/********************************************************************************/
/* On devices wider than 940px */
@media(max-width: 940px) {

html {
    font-size: 62.5%;
}

body {
  margin: 0;
  width: 100%;
}



}
/********************************************************************************/
/* On devices smaller than 660px */
@media(max-width: 660px){

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    width: 100%;
}



}
/********************************************************************************/
/* On devices smaller than 460px */
@media(max-width: 460px) {

html {
    font-size: 62.5%;
}

body {
  margin: 0;
  width: 100%;
}



}

/********************************************************************************/
/* On devices smaller than 375px */
@media(min-width: 375px){

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    width: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    opacity: 90%;
    height: 65px;
    /*border: red 2px solid;*/
}


.menu{
    display: inline-flex;
    padding-top: 10px;
    text-transform: uppercase;
    /*border: orange 2px solid;*/

}

#nav-left{
    display: inline-flex;
    margin-right: 35px;
    padding-top: 15px;
    /*border: yellow 2px solid;*/
}

#nav-right{
    display: inline-flex;
    margin-left: 35px;
    padding-top: 15px;
    /*border: green 2px solid;*/
}

#nav-link{
    display: inline-flex;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.06em;
    line-height: 1.75em;
    color: #303030;
    width: 100px;
    list-style: none;
    /*border: blue 2px solid;*/
}


.nav a {
    text-decoration: none;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.06em;
    color: #303030;
    margin: 10px;
    /*border: purple 2px solid;*/
}

.logo-header{
    height: 50px;
    width: 45px;
}

.splash{
    height: auto;
    max-width: 100%;
}

#index-content{
    margin: 10px;
}

.index-info{
    font-family: 'Lato Regular', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    color: #303030;

}

#icons{
    display: inline-flex;

}

#icons  p {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #c3bbac;
    font-size: 2.5em;
}

footer{
    background-color: #be5f27;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    /*border: red 2px solid;*/
    height: 80px;

}

footer p{
    font-family: 'Oswald', sans-serif;
    font-size: .7em;
    color: #f2f2f2;
    line-height: .75em;

}

#footer-biz-info{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    /*border: green 2px solid;*/
}

#footer-addy{
    text-transform: uppercase;
    padding-top: 30px;
    padding: 30px 40px 0 0;
}

#footer-hours{
    visibility: hidden;
}

.logo-footer{
    height: 50px;
    width: 45px;
    margin-right: 50px;
}

.social-media{
    width: 18px;
    height: 18px;
    margin: 5px;
}

#footer-icons{
    display: inline-flex;
    /*border: yellow 2px solid;*/

}

#footer-num{
    text-align: center;
}

#footer-social-num{
    display: inline-flex;
    flex-direction: column;
    /*border: blue 2px solid;*/

}
}
